// SCSS Variables

$primary-color: #0891b2;
$success-color: #22c55e;
$warning-color: #faad14;
$error-color: #ff4d4f;

$heading-color: #0f172a;
$text-color: #164e63;
$text-color-secondary: #64748b;
$border-color: #d9f3f7;
$background-color: #ecfeff;

$font-size-base: 14px;
$font-size-lg: 16px;
$font-size-sm: 12px;

$border-radius-base: 4px;
$border-radius-sm: 2px;

$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
