<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mdframe.forge.starter.flow.mapper.FlowFormVersionMapper">

    <select id="selectLatestByFormId" resultType="com.mdframe.forge.starter.flow.entity.FlowFormVersion">
        SELECT v.*
        FROM sys_flow_form_version v
        WHERE v.form_id = #{formId}
        ORDER BY v.version DESC
        LIMIT 1
    </select>

    <select id="selectByIdForRuntime" resultType="com.mdframe.forge.starter.flow.entity.FlowFormVersion">
        SELECT v.*
        FROM sys_flow_form_version v
        WHERE v.id = #{id}
        LIMIT 1
    </select>

    <select id="selectVersionsByFormId" resultType="com.mdframe.forge.starter.flow.entity.FlowFormVersion">
        SELECT v.*
        FROM sys_flow_form_version v
        WHERE v.form_id = #{formId}
        ORDER BY v.version DESC
    </select>
</mapper>
